<div style="display: flex; flex-direction: column" class="element" > 
    <mat-accordion class="table-accordion">
        <mat-expansion-panel hideToggle disabled>
            <mat-expansion-panel-header >
                <mat-panel-title class="title-table" *ngFor="let title of titles">
                    <div>{{title}}</div>
                </mat-panel-title>    
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel *ngFor="let item of infoData">
            <mat-expansion-panel-header>
                    <mat-panel-title>{{ item.nameClient }}</mat-panel-title>    
                    <mat-panel-title>Todos</mat-panel-title>    
                    <mat-panel-title>{{ item.employes }}</mat-panel-title>    
                    <mat-panel-title> ${{ item.sueldos }}</mat-panel-title>    
                    <mat-panel-title>{{ item.status}}</mat-panel-title>    
            </mat-expansion-panel-header>

            <table style="width:100%; cursor: pointer;" >
                <tr *ngFor=" let proyect of item.projects" (click)="goToDetailsClients( item )">
                    <td class="column-name-proyect">{{ proyect.nameProject }}</td>
                    <td style="width: 20%; padding-left: 4%">{{ proyect.employee.numberEmployees }}</td>
                    <td style="width: 20%; padding-left: 4%"> ${{ proyect.employee.sueldoBruto }}</td>
                    <td style="width: 20%; padding-left: 4%">{{ proyect.active }}</td>
                </tr>
            </table>

        </mat-expansion-panel>
    </mat-accordion>
    <app-table-paginator [total]="rowNum" class="paginator" (goPrev)="loadData( $event )" (goNext)="loadData( $event )"></app-table-paginator>
</div>

