<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/my-data"></ion-back-button>
    </ion-buttons>
    <ion-title>Redes Sociales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-list lines="full">
      <ion-item *ngFor="let field of socialFields">
        <ion-icon [name]="field.icon" slot="start" color="medium"></ion-icon>
        <ion-input
          [label]="field.label"
          labelPlacement="floating"
          [formControlName]="field.key"
          type="url"
        ></ion-input>
      </ion-item>
    </ion-list>

    <div class="button-container">
      <ion-button expand="block" type="submit" color="primary">
        <ion-icon name="save-outline" slot="start"></ion-icon>
        Guardar
      </ion-button>
    </div>
  </form>
</ion-content>
