.styleInputs mat-form-field.mat-form-field {
  font-size: 12px;
}

.styleInputs::ng-deep label.mat-form-field-label {
  color: #333333;
}

.styleInputs::ng-deep .mat-form-field-ripple {
  background-color: #005696;
}

.styleInputs::ng-deep .mat-form-field-underline {
  background-color: #005696;
}

.container {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-left: 80px;
}

.element {
  width: 100%;
}

.icon {
  color: rgb(219, 215, 215);
  font-size: 12px;
  margin-right: 3px;
  font-weight: bold;
  cursor: pointer;
}

.subtitle {
  font-size: 14px;
  color: #1469b0;
  font-weight: bold;
}

.control-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-left: 80px;
}
button {
  margin: 5px;
}
.listFirt {
  margin-left: 30px;
}
