<div class="styleInputs bodyContainer">
  <div [formGroup]="formInfoData">
      <div class="container">
          
          <mat-form-field class="element">
              <input matInput placeholder="Ingreso bruto mensual"  formControlName="qtSalary" maxlength="12" 
              [(ngModel)]="employeeContrating.qtSalary">
              <mat-error *ngIf="formInfoData.get('qtSalary').hasError('pattern')">
                Datos incorrectos
              </mat-error> 
          </mat-form-field>  
        
        
          <mat-form-field class="element">
              <input matInput placeholder="Área" formControlName="dsArea" maxlength="50" [(ngModel)]="employeeContrating.dsArea">
              <mat-error *ngIf="formInfoData.get('dsArea').hasError('pattern')">
                Datos incorrectos
              </mat-error> 
          </mat-form-field> 
        
        
          <mat-form-field class="element">
              <input matInput placeholder="Puesto" formControlName="job" maxlength="50" [(ngModel)]="employeeContrating.job">
              <mat-error *ngIf="formInfoData.get('job').hasError('pattern')">
                Datos incorrectos
              </mat-error> 
          </mat-form-field>  
        
      
          <div class="add-image element">
            <mat-form-field class="element">
                <input matInput  formControlName="cv" placeholder="CV"  readonly [(ngModel)]="employeeContrating.cv" />
                <mat-icon matSuffix class="icon" (click)="showFileChosser()" >picture_as_pdf</mat-icon>
                <input accept="application/pdf"  #inputFile_1  type="file" style="display:none;" (change)="getPdf($event.target.files[0])">
            </mat-form-field>
          </div> 
    
          
          <mat-form-field class="element">
              <input matInput [matDatepicker]="picker"  placeholder="Fecha fin de contrato" formControlName="endOfContract" [(ngModel)]="employeeContrating.endOfContract" readonly>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      

          <p class="ceroMargin subtitle">SKILLS</p>


        
          <mat-form-field class="element">              
              <input matInput placeholder="Calificación final"  formControlName="skill" maxlength="3"   [(ngModel)]="employeeContrating.skill" >
              <mat-error *ngIf="formInfoData.get('skill').hasError('pattern')">
                Datos incorrectos
              </mat-error> 
          </mat-form-field>   
    

      </div>   
</div>
</div>
<div class="control-btn" *ngIf="showSaveUpdate">
  <button mat-raised-button color="primary" (click)="save()" [disabled]="!formInfoData.valid">Guardar</button>
</div>

