.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.formBanner {
  width: 30%;
  margin-left: 10px;
}

.label-fechas {
  font-size: 10px !important;
  color: black;
}

.treeBanner {
  width: 70%;
  margin-left: 10px;
}

.card-form-banners {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
}

.form-banners {
  display: flex;
  flex-direction: column;
}

.control {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.control button {
  margin: 0px 10px;
}

.btn-icon {
  color: #005696;
}

.icon {
  color: gray;
  font-size: 12px;
  margin-right: 3px;
  font-weight: bold;
  cursor: pointer;
}

.add-image {
  display: flex;
  justify-content: space-around;
}

.element {
  width: 70%;
  margin-right: 10%;
}
.element-uno {
  width: 30%;
  margin-left: 10%;
}
