<ion-menu
  *ngIf="isLogged"
  side="left"
  (ionOpen)="menuOpened()"
  [content]="content"
  persistent="true"
  type="overlay"
>
  <ion-content class="ion-content">
    <div class="img-logo">
      <img src="assets/imgs/dch-total-logo-header.svg" height="30px" style="margin-left: 8px" />
    </div>
    <div class="fullWidth box">
      <img
        [src]="base64 | defaultImage:'assets/imgs/icon.svg'"
        class="logo"
        (click)="saveImage()"
      />
      <!--  -->
    </div>
    <div class="fullWidth box1">
      <div class="wrapper-option-menu">
        <div class="content-frist-options">
          <div class="wrapper-name">{{nombreUser}}</div>
          <p
            class="options-wrapper"
            menuClose
            ion-item
            no-lines
            *ngFor="let p of pages"
            (click)="openPage(p)"
          >
            {{p.title}}
          </p>
          <p
            class="second-options-wrapper"
            menuClose
            ion-item
            no-lines
            *ngFor="let p of pagesInfo"
            (click)="openPage(p)"
          >
            {{p.title}}
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-menu>
<ion-menu *ngIf="isLogged" side="right" [content]="content" persistent="true" type="overlay">
  <ion-header>
    <ion-navbar class="img-logo-notifications">
      <img src="assets/imgs/dch-total-logo-header.svg" style="height: 30px" />
    </ion-navbar>
  </ion-header>
  <ion-content class="ion-content">
    <ion-list class="ion-item-notification-list">
      <ion-item *ngFor="let notification of notificationsTop">
        <span *ngIf="notification.unRead" item-start class="dot"></span>
        <div text-wrap (click)="SetViewNotify(notification)">{{notification.descriptionSmall}}</div>
        <ion-icon
          *ngIf="notification.type === 'D' || notification.type == 'I'"
          class="arrow"
          item-end
          name="arrow-forward"
        ></ion-icon>
      </ion-item>
      <!--
            <ion-item *ngFor="let notification of notificationsTop"> 
                <span *ngIf="notification.unRead" item-start class="dot"></span>
                <div text-wrap (click)="setReadNotification(notification)">{{notification.descriptionSmall}}</div>
                <ion-icon *ngIf="notification.type === 'D' || notification.type == 'I'" class="arrow" item-end name="arrow-forward" (click)="getDiscountByid(notification)"></ion-icon>
            </ion-item>
-->
    </ion-list>
  </ion-content>
</ion-menu>
<ion-footer *ngIf="isLogged && !visivility">
  <ion-toolbar>
    <img
      src="assets/imgs/perfil.svg"
      alt=""
      (click)="openMenuPrincipal()"
      style="width: 30px; position: absolute; left: 17%; bottom: 4px"
    />
    <img
      src="assets/imgs/home.svg"
      alt=""
      (click)="goHome()"
      style="width: 30px; position: absolute; left: 46%; bottom: 4px"
    />
    <img
      src="assets/imgs/notificaciones.svg"
      alt=""
      style="width: 30px; position: absolute; left: 73%; bottom: 4px"
      (click)="openNotifications()"
    />
    <ion-badge
      id="cart-badge"
      style="margin: 0px; padding: 0px; position: absolute; left: 78%; bottom: 15px"
      (click)="openNotifications()"
      color="danger"
      *ngIf="numNotifications > 0"
      >{{numNotifications}}</ion-badge
    >
  </ion-toolbar>
</ion-footer>

<ion-nav #content [root]="rootPage"></ion-nav>
