<div class="employees">
<h1 style="margin-top: 0px;" id="title">Empleado</h1>
<dl>
    <dt><mat-checkbox color="primary" class="example-margin" (change)="getAllEmployee()" [(ngModel)]="treeJsonClient['checkEmployee']" [disabled]="disable">Todos</mat-checkbox></dt>
    <div *ngFor="let client of treeJsonClient['clients']; let c = index">
       <div *ngIf="client.check">
        
            <div *ngIf="client.count === 1">
                <dt><p class="textClient" [matTooltip]="client.name">{{client.name | reducer:35}}</p></dt>
                <dt><mat-checkbox color="primary" class="example-margin" (change)="getAllEmployeeProject(c, client)" [(ngModel)]="client.allProjects" [disabled]="disable">Todos</mat-checkbox></dt>
            </div>



            <div *ngFor="let proyect of client.projects; let p = index">
                <div *ngIf="proyect.check && proyect.employees">

                    <dd>
                        <dl>
                        <dt *ngIf="proyect.employees.length > 0"><p class="textProject" [matTooltip]="proyect.name">{{ proyect.name | reducer:26 }}</p></dt>
                        <dt *ngIf="proyect.employees.length > 0">
                            <mat-checkbox color="primary" class="example-margin" (change)="getAllEmployeeOneProject(client,p,proyect)" [(ngModel)]="proyect.everyBody" [disabled]="disable">Todos</mat-checkbox></dt>
                        <div *ngFor="let employee of proyect.employees">
                            <dd><mat-checkbox [matTooltip]="employee.name" color="primary" class="example-margin" (change)="getEmployee(employee,proyect,client)" [(ngModel)]="employee.check" [disabled]="disable">{{ employee.name | reducer:26 }}</mat-checkbox></dd>
                        </div>
                        </dl>
                    </dd>
                </div>
            </div>
       </div>
    </div>
</dl>
</div>
