.employees{
    font-size: 90%;  
    padding-left: 5px;
}
#title{
    color: rgb(11, 90, 163);
}
.textProject{
	font-size: 130%;
	color: #1BA8EC;
	font-weight: 900;    
}

.textClient{
	font-size: 130%;
	color: #1BA8EC;
	font-weight: 900;    
}