page-restore-password {
  
    .header{
     height: 120px;
    }
   
    .labels {
        color: #1469AF;
        font-weight: bold;
        font-size: 18px;
    }

    .text-title{
        position: absolute;
        bottom: 0;
        font-size: 18px;
        background:-webkit-linear-gradient(#1469AF,#1099D6);
        -webkit-background-clip: text;
        font-weight: bold;
        -webkit-text-fill-color: transparent;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .content-somos{
        padding-bottom: 20px;
        padding-left: 30px;
        position: absolute;
        bottom: 0;
        color: white;
        text-shadow: 2px 2px 4px #000000;
        font-size: 31px;
        font-weight: bold;
    }
    .encabezado{
        color: black;
        font-size: 16px;
        font-weight: bold;
    }
    .title{
        font-size: 25px;
        background:-webkit-linear-gradient(#1469AF,#1099D6);
        -webkit-background-clip: text;
        font-weight: bold;
        -webkit-text-fill-color: transparent;
        margin-left: 10px;
        margin-top: 5px;
    }

  
}
