<ion-content class="wrapper-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Actualizando..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-slides #slides style="height: 40% !important" loop="false" pager>
    <ion-slide *ngFor="let slideImg of slidesArray">
      <img [src]="slideImg" class="img-slide" />
    </ion-slide>
  </ion-slides>

  <div>
    <ion-card class="wrapper-ion-card">
      <ion-card-content class="wrapper-card" (click)="goSection('benefits')">
        <div style="width: 25%; display: flex; justify-content: center">
          <img [src]="benefitsIntern" alt="" class="img-card" />
        </div>
        <div style="width: 65%">
          <label class="title-card"> Beneficios y descuentos </label>
          <p class="subtitle-card">Grandes beneficios solo para ti</p>
        </div>
        <div style="width: 10%">
          <img src="assets/icon/arrow.svg" alt="" class="wrapper-img-arrow" />
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="wrapper-ion-card" disabled="true">
      <ion-card-content class="wrapper-card" (click)="goSection('rh')">
        <div style="width: 25%; display: flex; justify-content: center">
          <img [src]="rhIntern" alt="" class="img-card" />
        </div>
        <div style="width: 65%">
          <label [ngClass]="( userType == 'IN' ) ? 'title-card' : 'title-card-extern'"> RH </label>
          <p [ngClass]="( userType == 'IN' ) ? 'subtitle-card' : 'subtitle-card-extern'">
            Tu información laboral
          </p>
        </div>
        <div style="width: 10%">
          <img [src]="arrowIntern" alt="" class="wrapper-img-arrow" />
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="wrapper-ion-card" *ngIf="userType == 'IN'">
      <ion-card-content class="wrapper-card" (click)="goSection('asistencia')">
        <div style="width: 25%; display: flex; justify-content: center">
          <img src="assets/icon/rh.svg" alt="" class="img-card" />
        </div>
        <div style="width: 65%">
          <label class="title-card"> Asistencia </label>
          <p class="subtitle-card">Registra tu entrada y salida</p>
        </div>
        <div style="width: 10%">
          <img src="assets/icon/arrow.svg" alt="" class="wrapper-img-arrow" />
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="wrapper-ion-card" *ngIf="userType == 'IN'">
      <ion-card-content class="wrapper-card" (click)="goSection('vacaciones')">
        <div style="width: 25%; display: flex; justify-content: center">
          <img src="assets/icon/puesto_actual.svg" alt="" class="img-card" />
        </div>
        <div style="width: 65%">
          <label class="title-card"> Vacaciones </label>
          <p class="subtitle-card">Solicita y consulta tus días</p>
        </div>
        <div style="width: 10%">
          <img src="assets/icon/arrow.svg" alt="" class="wrapper-img-arrow" />
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="wrapper-ion-card" *ngIf="userType == 'IN'">
      <ion-card-content class="wrapper-card" (click)="goSection('tickets')">
        <div style="width: 25%; display: flex; justify-content: center">
          <img src="assets/icon/rh_gris.svg" alt="" class="img-card" />
        </div>
        <div style="width: 65%">
          <label class="title-card"> Mesa de Ayuda </label>
          <p class="subtitle-card">Reporta y da seguimiento a incidencias</p>
        </div>
        <div style="width: 10%">
          <img src="assets/icon/arrow.svg" alt="" class="wrapper-img-arrow" />
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="wrapper-ion-card" *ngIf="userType == 'IN'">
      <ion-card-content class="wrapper-card" (click)="goSection('encuestas')">
        <div style="width: 25%; display: flex; justify-content: center">
          <img src="assets/icon/cfdi.svg" alt="" class="img-card" />
        </div>
        <div style="width: 65%">
          <label class="title-card"> Encuestas </label>
          <p class="subtitle-card">Comparte tu opinión</p>
        </div>
        <div style="width: 10%">
          <img src="assets/icon/arrow.svg" alt="" class="wrapper-img-arrow" />
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
