page-credential {

    .background-credential {
        background-image: url(../assets/imgs/base_credencial.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 40%;
        margin-top: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}
