.dialogSelector {
  min-width: 600px;
  max-height: 500px;
}
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.container-column {
  display: flex;
  flex-direction: column;
}

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-row-buttons {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.border-div{
  border-color: #00ccff;
  border-width: 1px;
  border-style: solid;
}

.labels-colors{
  color: #00ccff;
}

.labels-position-center{
  text-align: center;
}

.container-size{
  min-width: 45%;
  align-items: center;
  }

.container-size-int{
  min-width: 200px!important;
  align-items:center;
  margin-top: 10px;
  cursor: pointer;
}

.container-align-center{
  align-items: center;
}

.size-conteiner-selector{
  min-width: 100%;
  min-height: 200px;
  max-height: 400px;
  overflow-y: scroll;
}







