<div class="container-column dialogSelector">
  <h3 class="labels-position-center labels-colors"> Edición de Columnas</h3>
 
  <div class="container-row" style="max-height:500px;">
    
    <div class="container-column border-div container-size">
      <span class="labels-position-center labels-colors">Inactivas</span>
      <br/>
      <div class='container labels-position-center size-conteiner-selector' [dragula]="MANY_ITEMS" [(dragulaModel)]='inactivas'>
        <div class="border-div container-size-int" *ngFor='let text of inactivas' [innerHtml]='text.title'></div>
      </div>
      <br/>
    </div>

    <div class="container-column border-div container-size">
      <span class="labels-position-center labels-colors">Activas</span>
      <br/>
      <div class='container labels-position-center size-conteiner-selector' [dragula]="MANY_ITEMS" [(dragulaModel)]='activas'>
        <div class="border-div container-size-int" *ngFor='let text of activas' [innerHtml]='text.title'></div>
      </div>
      <br/>
    </div>

  </div>

  <div class="container-row-buttons" >
    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" mat-dialog-close (click)="cancelDialog()" style="margin:0px 10px;">Cancelar</button>
    </mat-dialog-actions>
  <p>         </p>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" mat-dialog-close (click)="seleccionRows()">Aceptar</button>
    </mat-dialog-actions>    
</div>