<div class="card-form-banners custom-input">
    <form [formGroup]="bannersFrom" class="form-banners">
        <mat-form-field >
            <textarea matInput placeholder="Título" formControlName="title"  autocomplete="off"></textarea>
        </mat-form-field>
        <mat-form-field>
                <input matInput [matDatepicker]="pickeStart" placeholder="Fecha inicio" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="pickeStart"></mat-datepicker-toggle>
                <mat-datepicker touchUi #pickeStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
                <input matInput [matDatepicker]="pickerEnd" placeholder="Fecha fin" formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker touchUi #pickerEnd></mat-datepicker>
              </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Hora de publicación" formControlName="timePublication"  autocomplete="off"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Hora de notificación" formControlName="timeNotification"  autocomplete="off"/>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Detalle de notificación" formControlName="detailNotification"  autocomplete="off"></textarea>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Imagen" formControlName="image" autocomplete="off" />
            <mat-icon matSuffix class="icon" >insert_photo</mat-icon>
        </mat-form-field>
        <button id="btnAddCategory" mat-icon-button class="btn-icon" >
            <mat-icon>add</mat-icon>
        </button>
        <mat-form-field>
            <input matInput placeholder="Estatus" formControlName="status" autocomplete="off" />
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Comentarios" formControlName="internalComments" autocomplete="off"></textarea>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Autor" formControlName="author" autocomplete="off" /> 
        </mat-form-field>
        <div class="control">
            <button mat-raised-button color="primary" (click)="save()" >Guardar</button>
        </div>
    </form>
</div>