<mat-card class="card-form-customer">
    <form class="form-customer-wrapper  custom-input" [formGroup]="formCustomer">
        <mat-form-field>
            <textarea matInput type="text" placeholder="Nombre" formControlName="name" required maxlength="50"></textarea>
            <mat-error *ngIf="formCustomer.get('name').value.trim() === ''">El campo es requerido</mat-error>
            <mat-error *ngIf="formCustomer.get('name').value.trim() != '' && !formCustomer.get('name').valid ">Datos incorrectos</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput type="text" placeholder="Dirección" formControlName="address" required maxlength="250"></textarea>
            <mat-error *ngIf="formCustomer.get('address').value.trim() === ''">El campo es requerido</mat-error>
            <mat-error *ngIf="formCustomer.get('address').value.trim() != '' && !formCustomer.get('address').valid ">Datos incorrectos</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput type="text" placeholder="Contacto" formControlName="contact" required maxlength="50"></textarea>
            <mat-error *ngIf="formCustomer.get('contact').value.trim() === ''">El campo es requerido</mat-error>
            <mat-error *ngIf="formCustomer.get('contact').value.trim() != '' && !formCustomer.get('contact').valid ">Datos incorrectos</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Teléfono" formControlName="phone" required autocomplete="off" maxlength="10">
            <mat-error *ngIf="formCustomer.get('phone').value.trim() === '' ">El campo es requerido</mat-error>
            <mat-error *ngIf="formCustomer.get('phone').value.trim() != '' && !formCustomer.get('phone').valid">Datos incorrectos</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Extensión" formControlName="extension" autocomplete="off" maxlength="5" minlength="1">
            <mat-error *ngIf="formCustomer.get('extension').value.trim() === '' ">El campo es requerido</mat-error>
            <mat-error *ngIf="formCustomer.get('extension').value.trim() != '' && !formCustomer.get('extension').valid">Datos incorrectos</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Correo electrónico" formControlName="email" required maxlength="50">
            <mat-error *ngIf="formCustomer.get('email').value.trim() === '' ">
                El campo es requerido
             </mat-error>
            <mat-error *ngIf="formCustomer.get('email').value.trim() != '' && !formCustomer.controls['email'].valid">
                Datos incorrectos
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Información adicional" formControlName="additionalInformation" maxlength="250"></textarea>
            <mat-error *ngIf="!formCustomer.get('additionalInformation').valid">Datos incorrectos</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="idCustomer > 0">
            <mat-select placeholder="Estatus" formControlName="status" (selectionChange)="checkCustomer()">
                <mat-option value="A">Activo</mat-option>
                <mat-option value="I">Inactivo</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="idCustomer > 0">
            <input matInput placeholder="Autor" formControlName="creationUser" />
        </mat-form-field>
    </form>
</mat-card>
<div class="divider">
    <mat-divider></mat-divider>
</div>
<div class="content-subtitle--wrapper">
    <label>{{ titleProyect }}</label>
    <ng-template [ngIf]="!buttonState">
        <div class="controls-wrapper">
            <div class="buttons-wrapper" *ngIf="showSaveUpdate">
                <button mat-mini-fab type="submit" (click)="agregar()" color="primary" class="margin:auto;" [disabled]="!enableButtonAdd">
                    <mat-icon>add</mat-icon>
                </button>
                <button *ngIf="visibleButtonSave"  mat-mini-fab type="submit" (click)="onSubmit()" color="primary" class="margin:auto;" [disabled]="!enabledButtonSave()" >
                    <mat-icon>save</mat-icon>
                </button>
                <button *ngIf="idCustomer >= 0 && !enableButtonSave" mat-mini-fab type="submit" (click)="enabledForms()" color="primary" class="margin:auto;">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <button mat-raised-button color="primary" (click)="cancel()">Cancelar</button>
        </div>
    </ng-template>
    <ng-template [ngIf]="buttonState">
        <div class="controls-wrapper fixed">
            <div class="buttons-wrapper" *ngIf="showSaveUpdate">
                <button mat-mini-fab type="submit" (click)="agregar()" color="primary" class="margin:auto;" [disabled]="!enableButtonAdd">
                    <mat-icon>add</mat-icon>
                </button>
                <button *ngIf="visibleButtonSave"  mat-mini-fab type="submit" (click)="onSubmit()" color="primary" class="margin:auto;" [disabled]="!enabledButtonSave()">
                    <mat-icon>save</mat-icon>
                </button>
                <button *ngIf="idCustomer >= 0 && !enableButtonSave" mat-mini-fab type="submit" (click)="enabledForms()" color="primary" class="margin:auto;">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <button mat-raised-button color="primary" (click)="cancel()">Cancelar</button>
        </div>
    </ng-template>
</div>
<div >
    <form [formGroup]="profileForm" class="form-clients" >
        <app-create-client *ngFor="let formInfo of formInfoGroups.controls;let i = index;" 
                            [form-info]="formInfo" 
                            [form-group]="profileForm" 
                            [new-item]="newItem"
                            [status]="status[i].value"
                            (change-status)="changeStatusForProject($event)"
                            class="create-client-wrapper"></app-create-client>
    </form>
</div>