<div class="clients">
  <h1 id="title" style="margin-top: 0px;">Cliente</h1>
  <dl>
      <dt><mat-checkbox color="primary" class="example-margin textClient" [(ngModel)]="treeJsonClient['checkExtenrno']" [disabled]="disable">Usuarios externos</mat-checkbox></dt>
      <dt><mat-checkbox color="primary" class="example-margin textClient" (change)="selectedAllClient()" [(ngModel)]="treeJsonClient['checkClient']" [disabled]="disable">Todos los clientes</mat-checkbox></dt>

      <div *ngFor="let client of treeJsonClient['clients']; let i of index">
          <dd><mat-checkbox [matTooltip]="client.name" color="primary" class="example-margin check" (change)="getClientTree(client)" [(ngModel)]="client.check" [disabled]="disable">{{ client.name | reducer:24 }}</mat-checkbox></dd>
      </div>
  </dl>  
</div>