.container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    margin-left: 80px;
}

.second{
     margin-left: 50px;
}

.form-last-employe {
    display: flex;
    flex-direction: column;
}

.form-social-network {
    min-width: 800px !important;
}

.inputs{
    width: 250px;
}
.controls{
    width: 200px !important;
    
}
.listFirt{
    margin-left: 30px;
}

.secondList{
    margin-left: 30px;
    margin-top: -140px;
}

.listFirt{
    margin-left: 10px;
}
.listControls{
    
    height: 550px;    
}

label {
    width: 100%;    
    margin-right: 20px;
    font-size: 12px;
    color: #333333;
}

.mat-slider-horizontal {
    min-width: 50px !important;
}

.mat-slider-horizontal {
    min-width: 50px !important;
}

.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
    background-color: #00ffcd !important;
}

label{
    min-width: 100px
}

.newControl{
    width: 85px;
    height: 25px;
}
button{
    margin: 5px;
}

.control{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-left: 80px;
}