<div class="toolbar-user">
  <div   >
    <button [disabled]="tabsUser.complementaryStatus" (click)="changeForm(navigate.personalInfo)">
    <mat-icon [ngClass]="{'total-information':tabsIcon.complementaryStatus}" >check_circle</mat-icon>
    <label [ngClass]="{'label-color':tabsLabel=='datos-personales'}" >Datos personales</label>
  </button>
  </div>
  <div  >
    <button  (click)="changeForm(navigate.domicile)" [disabled]="tabsUser.domicileStatus">
    <mat-icon [ngClass]="{'total-information':tabsIcon.domicileStatus}" >check_circle</mat-icon>
    <label [ngClass]="{'label-color':tabsLabel=='domicilio'}" >Domicilio</label>
  </button>
  </div>
<!--  <div >
    <button (click)="changeForm(navigate.socialNetworks)" [disabled]="tabsUser.socialNetworksStatus">
    <mat-icon [ngClass]="{'total-information':tabsIcon.socialNetworksStatus}">check_circle</mat-icon>
    <label [ngClass]="{'label-color':tabsLabel=='redes-sociales'}"  >Redes sociales</label>
  </button>
  </div>-->
  <div  >
    <button (click)="changeForm(navigate.contractingData)" [disabled]="tabsUser.contratingStatus">
    <mat-icon [ngClass]="{'total-information':tabsIcon.contratingStatus}">check_circle</mat-icon>
    <label  [ngClass]="{'label-color':tabsLabel=='datos-contratacion'}" >Datos de contratación</label>
  </button>
  </div>
  <div >
    <button (click)="changeForm(navigate.lastJob)" [disabled]="tabsUser.lastJobStatus" >
    <mat-icon [ngClass]="{'total-information':tabsIcon.lastJobStatus}">check_circle</mat-icon>
    <label  [ngClass]="{'label-color':tabsLabel=='ultimo-empleo'}" >Último empleo</label>
  </button>
  </div>

  <div >
   <button (click)="changeForm(navigate.compenPackage)" [disabled]="tabsUser.compensationStatus" >
    <mat-icon [ngClass]="{'total-information':tabsIcon.compensationStatus}">check_circle</mat-icon>
    <label  [ngClass]="{'label-color':tabsLabel=='paquete-compensacion'}" >Paquete compensación</label>
  </button>
  </div>

  <div >
    <button  (click)="changeForm(navigate.assignmmentData)" [disabled]="tabsUser.asignationStatus">
    <mat-icon [ngClass]="{'total-information':tabsIcon.asignationStatus}">check_circle</mat-icon>
    <label  [ngClass]="{'label-color':tabsLabel=='datos-asignacion'}" >Datos de asignación</label>
    </button>
  </div>
</div>
