.main-reset-confirm {
  width: 100%;
}

.main-reset-confirm-wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 18.75rem;
  text-align: center;
}

.main-reset-confirm-title {
  color: rgba(27,103,168,1);
  font-size: 1.375rem;
  width: 100%;
  text-align: center;
}

.main-reset-confirm-text {
  margin: .5rem 0; 
}

.main-reset-confirm-inputs-wrapper {
  width: 100%;
  margin-bottom: 3rem;

}

.main-reset-confirm-input-wrapper {
  margin-bottom: 1rem;
}

.main-reset-dialog-input-button {
  background-color: rgba(22,103,176,1);
  color: #FEFEFE;
  margin-right: .25rem;
}

.main-reset-lading-wrapper {
  width: 100%;
}

.main-reset-loading {
  width: 50%;
  display: block;
  margin: 2rem auto;
  max-width: 15rem;
}

.main-reset-confirm-img-wrapper {
  width: 100%;
  margin: 1rem 0;
}

.main-reset-confirm-img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.main-reset-error-message {
  color: #f44336;
  margin: 1rem 0;
  text-align: center;
  width: 100%;
}