.toolbar {
  background: #005696;
  display: flex;
  justify-content: space-between;
  height: 50px;
  min-width: 1182px;
}

.toolbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar-container span,
a {
  margin: 3px;
}

.toolbar-container a:hover {
  color: rgba(255, 255, 255, 0.75);
}

.toolbar-container span,
a {
  color: white;
  text-decoration: none;
}

.toolbar img {
  margin: 0;
}

.divimage {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.image-header {
  width: 190px;
  height: 40px;
}

.selected {
  color: #f18a21;
  font-weight: 600;
}

.salir {
  cursor: pointer;
}
