form-job {

    .wrapper-form {
        display: flex;
        width: 100%;
    }

    .check-box{
        margin-top: 15px;
    }

    .form-job {
        width: 100%;
    }

    .divider {
        width: 101%;
        background-color: #488AFF;
        height: 3px;
        display: flex;
        margin: auto;
        margin-top: 25px;
    }

}
