.modal-forget-password{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.modal-form-group{
    display: flex;
    flex-direction: column;
}

.modal-forget-password .modal-title{
    color: blue;
    text-align: center;
}

.alert{
    color: red;
    margin: 10px;
}

.modal-controls{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}

.modal-succes-email{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-succes-email .modal-email{
    font-weight: bold;
}

.modal-succes-email button{
    max-width: 100px;
}

p{  display: flex;
    text-align: center;
    flex-direction: row;
}