<div class="modal-forget-password">
    <h2 mat-dialog-title class="modal-title">Reestablecer contraseña</h2>
    <div *ngIf="showForm">
      <p>
        Proporciona un correo electrónico para enviarte las instrucciones para cambiar la contraseña
      </p>
      <form [formGroup]="form" class="modal-form-group">
        <mat-form-field>
          <input type="text" matInput placeholder="Correo electrónico" formControlName="email" (change)="changeEmail()">
        </mat-form-field>
        <label class="alert" *ngIf="!userValid">Este usuario no existe en la base de datos</label>
        <re-captcha (resolved)="resolved($event)" siteKey="6LcwoWgUAAAAAB_ueHc0s7UP-tXJLqd7hyfS49H8"></re-captcha>
        <div class="modal-controls">
            <button mat-raised-button color="primary" (click)="onClose()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!validator" (click)="onSubmit()">Enviar</button>
        </div>
      </form>
    </div>
    <div *ngIf="!showForm" class="modal-succes-email">
      <p>Se ha enviado al correo electrónico</p>
      <p><span class="modal-email">{{ this.form.value.email }}</span></p>
      <p>las instrucciones para actualizar la contraseña </p>
      <button mat-raised-button color="primary" (click)="onClose()" >Aceptar</button>
    </div>
  </div>
  