<div [formGroup]="formInfoData" style="display:flex; flex-direction: column;" class="custom-input">
    <div class="container">

        <mat-form-field class="element">
          <input matInput placeholder="Puesto" maxlength="50" formControlName="employeePosition" [(ngModel)]="employeeAssignment.employeePosition">
          <mat-error *ngIf="formInfoData.get('employeePosition').hasError('pattern')">
            Datos incorrectos
          </mat-error> 
        </mat-form-field>

        <label *ngIf="datosSico" style="font-size:8;" >*Cliente SICO: {{employeeAssignment.client}} </label>
        <mat-form-field *ngIf="datosSico" >
            <mat-select matInput  placeholder="Cliente" formControlName="idClient" [(ngModel)]="employeeAssignment.idClient" (selectionChange)="selectClient(employeeAssignment.idClient)" required >
                <mat-option *ngFor="let client of clients" [value]="client.idClient">{{ client.name }}</mat-option>
               </mat-select>
        </mat-form-field>
        
        <label *ngIf="datosSico" style="font-size:8;" >*Proyecto SICO: {{employeeAssignment.project}} </label>

        <mat-form-field *ngIf="datosSico" >
            <mat-select matInput  placeholder="Proyecto" formControlName="idProject" [(ngModel)]="employeeAssignment.idProject" (selectionChange)="selectProject(employeeAssignment.idProject)" required>
                <mat-option *ngFor="let project of projects" [value]="project.idProject">{{ project.name }}</mat-option>
               </mat-select>
               <mat-error *ngIf="formInfoData.get('idProject').hasError('max')">
                  El campo es <strong>requerido</strong>
                </mat-error> 
        </mat-form-field>

        <mat-form-field class="element">
          <input matInput placeholder="Estado" maxlength="50" formControlName="state" [(ngModel)]="employeeAssignment.state">
          <mat-error *ngIf="formInfoData.get('state').hasError('pattern')">
            Datos incorrectos
          </mat-error> 
        </mat-form-field>
        <mat-form-field class="element">
          <input matInput placeholder="Ciudad" maxlength="50" formControlName="city" [(ngModel)]="employeeAssignment.city">
          <mat-error *ngIf="formInfoData.get('city').hasError('pattern')">
            Datos incorrectos
          </mat-error> 
        </mat-form-field>
        <mat-form-field class="element">
          <input matInput placeholder="Jefe directo" formControlName="manager" maxlength="50" [(ngModel)]="employeeAssignment.manager">
          <mat-error *ngIf="formInfoData.get('manager').hasError('pattern')">
            Datos incorrectos
          </mat-error> 
        </mat-form-field>


        <mat-form-field class="element">
            <input matInput placeholder="Correo electrónico jefe directo" formControlName="emailDirectBoss" maxlength="50" [(ngModel)]="employeeAssignment.emailDirectBoss">
            <mat-error *ngIf="formInfoData.get('emailDirectBoss').hasError('pattern')">
              Datos incorrectos
            </mat-error> 
        </mat-form-field>


        <mat-form-field class="element">
            <input matInput placeholder="Teléfono de jefe directo" formControlName="telephoneDirectBoss" maxlength="15" [(ngModel)]="employeeAssignment.telephoneDirectBoss">
            <mat-error *ngIf="formInfoData.get('telephoneDirectBoss').hasError('pattern')">
              Datos incorrectos
            </mat-error> 
        </mat-form-field>

        <mat-form-field class="element">
            <input matInput [matDatepicker]="startAssigment"  placeholder="Inicio de asignación" formControlName="startAssigment" [(ngModel)]="employeeAssignment.startAssigment" readonly>
            <mat-datepicker-toggle matSuffix [for]="startAssigment"></mat-datepicker-toggle>
            <mat-datepicker #startAssigment></mat-datepicker>
        </mat-form-field>


        <mat-form-field class="element">
            <input matInput  [matDatepicker]="endAllocation"  placeholder="Fin de asignación" formControlName="endAllocation" [(ngModel)]="employeeAssignment.endAllocation" readonly>
            <mat-datepicker-toggle matSuffix [for]="endAllocation"></mat-datepicker-toggle>
            <mat-datepicker #endAllocation></mat-datepicker>
        </mat-form-field>



        <mat-form-field class="element">
            <input matInput placeholder="Correo electrónico de asignado" formControlName="allocationEmail" maxlength="50" [(ngModel)]="employeeAssignment.allocationEmail">
            <mat-error *ngIf="formInfoData.get('allocationEmail').hasError('pattern')">
              Datos incorrectos
            </mat-error> 
        </mat-form-field>



      <mat-form-field class="element">
        <input matInput placeholder="Sueldo de asignado" maxlength="12" formControlName="allocationSalary"
         [ngModel]="employeeAssignment.allocationSalary | currency:'USD':true:'0.0-2'"
         (ngModelChange)="employeeAssignment.allocationSalary=onBrokenChange($event)"> 
         
        <mat-error *ngIf="formInfoData.get('allocationSalary').hasError('pattern')">
          Datos incorrectos
        </mat-error> 
      </mat-form-field>



      <mat-form-field class="element">
          <input matInput placeholder="Resultado de evaluación " formControlName="evaluation" [(ngModel)]="employeeAssignment.evaluation" maxlength="3" >
          <mat-error *ngIf="formInfoData.get('evaluation').hasError('pattern')">
            Datos incorrectos
          </mat-error> 
      </mat-form-field>

    </div>
</div>
<div class="btn-control" *ngIf="showSaveUpdate">
  <button mat-raised-button color="primary" (click)="save()" [disabled]="!formInfoData.valid">Guardar</button>
</div>