<app-user-toolbar></app-user-toolbar>
<div class="content-infor-user">

    <img *ngIf="visiblePhoto"  matTooltip = "Editar foto"  class="imagen" (click)="showFileChosser()" [src]="ruta" style="border-radius:50%; width: 200px; height: 200px;">
    <img  *ngIf="!visiblePhoto"   [src]="ruta" style="border-radius:50%; width: 200px; height: 200px;">
    <div class="add-image" *ngIf="visiblePhoto">
            <input accept="image/*"  #inputFile_1  type="file" style="display:none;" (change)="getImage($event.target.files[0])">
     </div>
    <router-outlet></router-outlet>
</div>
