.card-form-notification {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.form-notification {
    display: flex;
    flex-direction: column;
}

.control{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.label-fechas {
    font-size: 10px !important;
    color:black;
}

.icon {
    color: gray;
    font-size: 12px;
    margin-right: 3px;
    font-weight: bold;
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.element{
    width: 70%;
    margin-left: 10px;
}
.element-uno{
  width: 30%;
  margin-left: 10px;
}

.contenedor button {
   margin: 0px 10px; 
}

