<div class="contenedor">
    <div class="elemento">
        <app-tree-client  [treeJsonClient]="jsonTree"
                          [disable]="disable"></app-tree-client>  
    </div>
    <div class="elemento">
        <app-tree-proyect [treeJsonClient]="jsonTree"
                          [disable]="disable"></app-tree-proyect>
    </div>
    <div class="elemento employee">
        <app-tree-employee [treeJsonClient]="jsonTree"
                           [disable]="disable"></app-tree-employee>
    </div>    
</div>



