<div class="card-form-roles custom-input">
    <form class="form-roles" [formGroup]="formRol">
        <mat-form-field>
            <textarea matInput placeholder="Nombre(s)" formControlName="name" autocomplete="off" required maxlength="50"></textarea>
            <mat-error *ngIf="formRol.get('name').value.trim() === ''">El campo es requerido</mat-error>
            <mat-error *ngIf="formRol.get('name').value.trim() != '' && !formRol.get('name').valid ">Datos incorrectos</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <textarea matInput placeholder="Apellido paterno" formControlName="lastName" autocomplete="off" required maxlength="50"></textarea>
            <mat-error *ngIf="formRol.get('lastName').value.trim() === '' ">El campo es requerido</mat-error>
            <mat-error *ngIf="formRol.get('lastName').value.trim() != '' && !formRol.get('lastName').valid ">Datos incorrectos</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <textarea matInput placeholder="Apellido materno" formControlName="mLastName" autocomplete="off" maxlength="50"></textarea>
            <mat-error *ngIf="formRol.get('mLastName').value.trim() === '' ">El campo es requerido</mat-error>
            <mat-error *ngIf="formRol.get('mLastName').value.trim() != '' && !formRol.get('mLastName').valid ">Datos incorrectos</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Telefono" formControlName="phone" autocomplete="off" minlength="1"  maxlength="10" required>
            <mat-error *ngIf="formRol.get('phone').value.trim() === '' ">El campo es requerido</mat-error>
            <mat-error *ngIf="formRol.get('phone').value.trim() != '' && !formRol.get('phone').valid">Datos incorrectos</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-select placeholder="Rol" formControlName="idRol" required>
                <mat-option *ngFor="let rol of rolesOption" [value]="rol.idRol" >{{ rol.descriptionRol }}</mat-option>
            </mat-select>
            <mat-error *ngIf="formRol.get('idRol').value === '' ">El campo es requerido</mat-error>
            <mat-error *ngIf="formRol.get('idRol').value != '' && !formRol.get('idRol').valid">Datos incorrectos</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
            <textarea matInput placeholder="Correo electrónico" type="email" formControlName="email" autocomplete="off" min="8" max="50" maxlength="50" required [readonly]="userRolAssig.roleList.length > 0"></textarea>
            <mat-error *ngIf="formRol.get('email').value.trim() === '' ">El campo es requerido</mat-error>
            <mat-error *ngIf="formRol.get('email').value.trim() != ''  && !formRol.get('email').valid">Datos incorrectos</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field  *ngIf="userRolAssig.roleList.length > 0 && disableRol">
            <mat-select placeholder="Estatus" formControlName="status"> 
                <mat-option *ngFor="let status of statusOption" [value]="status.id">{{ status.status }}</mat-option>
            </mat-select>
            <mat-error *ngIf="formRol.get('status').value === '' ">El campo es requerido</mat-error>   
            <mat-error *ngIf="formRol.get('status').value != '' && !formRol.get('status').valid">Datos incorrectos</mat-error>
        </mat-form-field>
        <div class="control">
            <button mat-raised-button color="primary" (click)="goBackRoles()" >Cancelar</button>
            <div *ngIf="showSaveUpdate">
                <button *ngIf="!userRol || formRol.enabled" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!formRol.valid">{{
                    saveButton }}</button>
                <button *ngIf="userRol && formRol.disabled " mat-raised-button color="primary" (click)="enableForm()">{{ editButton }}</button>
            </div>
        </div>
    </form>
</div>