.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.containerButton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.containerForm{
  margin: 8%;
}