.contenedor {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  align-items: flex-end;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}
.element {
  padding: 3px;
}
.button-fab-row {
  display: flex;
  align-items: flex-end;
}

.button-fab-row button {
  margin: 5px;
}

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #005696;
}
img {
  width: 100% !important;
  height: 100% !important;
}

.mat-dialog-container {
  background: purple !important;
}

.mat-dialog-container {
  background: purple !important;
  color: rgba(0, 0, 0, 0.87);
}
