page-my-account {
    .toolbar-background {
        background-image: url('./../assets/imgs/micuenta.png') !important;
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
    }

    .labels {
        color: #1099d6;
        text-decoration: underline;
    }

    .encabezado{
        color: black;
        font-size: 16px;
        font-weight: bold;
    }
    .title{
        font-size: 18px;
        background:-webkit-linear-gradient(#1469AF,#1099D6);
        -webkit-background-clip: text;
        font-weight: bold;
        -webkit-text-fill-color: transparent;
        margin-left: 10px;
        margin-top: 5px;
    }
    .label-account {
        width: 80%; 
        display: flex; 
        flex-direction: column;
        margin-left: auto; 
        padding-top: 17px;
        padding-left: 14px; 
        justify-content: center; 
        font-size: 18px; 
        font-weight: bold;
        color: #428DD8;
        background: transparent
    }
}
