<section class="main-reset-wrapper">
    <ng-template [ngIf]="isCorrectResponse">
      <div class="main-reset done">
        <div class="main-reset-dialog-wrapper">
          <div class="main-reset-img-wrapper">
            <img class="main-reset-img" src="../../assets/rh-total-logo-with-letters.svg" />
          </div>
          <h2 class="main-reset-dialog-title">
            Restaurar contraseña
          </h2>
          <p class="main-reset-dialog-description">
            Se ha enviado al correo electrónico <br> {{hola}} <br>las instrucciones para actualizar la contraseña.
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="!isCorrectResponse">
      <div class="main-reset">
        <div class="main-reset-dialog-wrapper">
          <div class="main-reset-img-wrapper">
            <img class="main-reset-img" src="../../assets/rh-total-logo-with-letters.svg" />
          </div>
          <h2 class="main-reset-dialog-title">
            Restaurar contraseña
          </h2>
          <p class="main-reset-dialog-description">
            Proporciona un correo electrónico para enviarte las instrucciones para cambiar tu contraseña.
          </p>
        </div>
        <div class="main-reset-dialog-input-wrapper custom-input">
          <mat-form-field>
            <input 
              matInput
              type="email"
              placeholder="Correo electrónico"
              class="main-reset-dialog-input-email"
              [formControl]="emailFormControl"
            >
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Por favor ingresa un correo electrónico válido
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              El correo electrónico es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="main-reset-captcha-wrapper">
          <re-captcha (resolved)="resolvedCaptcha($event)" siteKey="6LcwoWgUAAAAAB_ueHc0s7UP-tXJLqd7hyfS49H8"></re-captcha>
        </div>
        <div class="main-reset-dialog-input-buttons-wrapper">
          <button mat-raised-button class="main-reset-dialog-input-button" (click)="send($event)" [disabled]="!computeButtonState()">
            Aceptar
          </button>
          <button mat-raised-button class="main-reset-dialog-input-button" (click)="cancelar()">
            Aceptar
          </button>
        </div>
      </div>
    </ng-template>
  
  </section>