


  <div>  
    <label>Facebook</label>
    <tm-three-steps-selector [(ngModel)]="socialNetwork['Facebook']" [disabled]="disableControl" class= "form-social-network" (onchange)="changeState($event)" >   
    </tm-three-steps-selector>     
  </div>
  <div >
      <label>Twitter</label>                        
    <tm-three-steps-selector [(ngModel)]="socialNetwork.Twitter" [disabled]="disableControl" class= "form-social-network" (onchange)="changeState($event)" >   
    </tm-three-steps-selector>     
  </div>
  <div>  
      <label>LinkedIn</label>                         
    <tm-three-steps-selector [(ngModel)]="socialNetwork.LinkedIn" [disabled]="disableControl" class= "form-social-network" >   
    </tm-three-steps-selector>     
  </div>
  <div>  
      <label>Google+</label>                      
    <tm-three-steps-selector [(ngModel)]="socialNetwork['Google+']" [disabled]="disableControl" class= "form-social-network" >   
    </tm-three-steps-selector>     
  </div>
  <div>    
      <label>Instagram</label>                     
    <tm-three-steps-selector [(ngModel)]="socialNetwork.Instagram" [disabled]="disableControl" class= "form-social-network" >   
    </tm-three-steps-selector>     
  </div>
  <div> 
      <label>Snapchat</label>                        
    <tm-three-steps-selector [(ngModel)]="socialNetwork.Snapchat" [disabled]="disableControl" class= "form-social-network" >   
    </tm-three-steps-selector>     
  </div>
  <div>  
      <label>Spotify</label>                       
    <tm-three-steps-selector [(ngModel)]="socialNetwork.Spotify" [disabled]="disableControl" class= "form-social-network" >   
    </tm-three-steps-selector>     
  </div>

  <div class="btn-control" *ngIf="showSaveUpdate">
    <button mat-raised-button color="primary" [disabled]="disableControl" (click)="save()">Guardar</button>
  </div>


