.breadcrumbs {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  color: #005696;
}

.contenedor {
  display: flex;
  flex-direction: column;
}

.breadcrumbs span {
  font-size: 22px;
}

mat-icon {
  cursor: pointer;
}

a.nounderline:link {
  text-decoration: none;
}
.colorSubMenu {
  color: #a4a4a4;
}
.active {
  color: #0040ff;
}
