<div class="contenedor">
    <h2>
        Buscar
    </h2>
    <div class="content-aling card-form-roles custom-input">
        <form class="form-info-data">
          <div *ngFor="let input of inputs">
                <mat-form-field class="control" *ngIf="input.data === 'string'; else fecha">                    
                    <input matInput [placeholder]="input.name" [(ngModel)]="input.value" [ngModelOptions]="{standalone: true}" minlength="1" maxlength="50" clear>                  
                </mat-form-field>
                <ng-template #fecha>
                    <mat-form-field class="control">
                        <input matInput [matDatepicker]="picker1" [placeholder]="input.name" [(ngModel)]="input.value" [ngModelOptions]="{standalone: true}" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field> 
                </ng-template>
         </div>
         <div class="button-row">
              <button mat-raised-button color="primary" (click)="cancelDialog()">Cancelar</button>
              <button mat-raised-button color="primary" (click)="findUsers()">Buscar</button>              
          </div>
        </form>
    </div>
</div>