<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer contrasena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="page-wrapper">
    <div class="header-section">
      <ion-icon name="key-outline" class="header-icon"></ion-icon>
      <p>Ingresa tu correo y te enviaremos un enlace para restablecer tu contrasena.</p>
    </div>

    <div *ngIf="sent; else formTemplate" class="success-section">
      <ion-icon name="checkmark-circle-outline" class="success-icon"></ion-icon>
      <h3>Enlace enviado</h3>
      <p>Revisa tu bandeja de entrada para restablecer tu contrasena.</p>
      <ion-button routerLink="/login" expand="block" shape="round" class="back-btn">
        Volver al inicio
      </ion-button>
    </div>

    <ng-template #formTemplate>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-item lines="none" class="input-item">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input formControlName="email" type="email" placeholder="Correo electronico"></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" shape="round" class="submit-btn">
          Enviar enlace
        </ion-button>
      </form>
    </ng-template>
  </div>
</ion-content>
