<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="page-wrapper">
    <div class="header-section">
      <ion-icon name="person-add-outline" class="header-icon"></ion-icon>
      <p>Configura tu contrasena para activar tu cuenta.</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item lines="none" class="input-item">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input formControlName="email" type="email" placeholder="Correo" [readonly]="true"></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Contrasena (min. 8 caracteres)"
        ></ion-input>
        <ion-button fill="clear" slot="end" (click)="togglePassword()">
          <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input
          formControlName="confirmPassword"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Confirmar contrasena"
        ></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" shape="round" class="submit-btn">
        Crear cuenta
      </ion-button>
    </form>
  </div>
</ion-content>
