.form-insurance {
    display: flex;
    max-width: 400px;
    margin-left: 200px;
}

.form-insurance {
    display: flex;
    flex-direction: column;
}

.control {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.icon {
    color: gray;
    font-size: 12px;
    margin-right: 3px;
    font-weight: bold;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.elementUno{
    width: 40%;
  
}

.elementDos{
   width: 60%;
}

.containerTable{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-left: 10%;
    margin-right: 10%;
}

.selectedCombo{
    width: 60%;
    padding-left: 20%;   

}

.titleEventualidades{
    color: #07BDDF;
}

.lineDivider{
    margin-bottom:2%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}