<ion-header>
  <ion-toolbar>
    <ion-title>
     Términos y Condiciones
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p style="text-align: justify;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis temporibus, alias est magnam officia doloremque sunt at dolores a, cumque ad delectus. Nesciunt, ipsum necessitatibus eos maxime mollitia placeat aut?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quos tenetur dolor quaerat ea nam deleniti modi minus vitae! Deleniti ratione velit aliquam cupiditate nobis debitis nam quam dicta minus.
    Dolores rerum quibusdam illum alias, enim architecto doloribus expedita deserunt labore consectetur ipsum rem voluptate facere quo omnis assumenda voluptatum odit culpa esse recusandae ducimus dignissimos. Sapiente rerum sint quisquam.
    Consectetur ex impedit fugit quos modi repudiandae? Facere libero eaque ipsum pariatur ipsa iure molestiae numquam, aliquam cupiditate debitis temporibus. Velit quos totam harum officia molestias praesentium a reprehenderit libero!
    Quos illo quaerat deserunt, possimus amet esse doloribus, necessitatibus cum molestias cumque debitis atque. Ipsam vel perferendis amet dolore temporibus consequuntur voluptatibus necessitatibus culpa! Voluptas aspernatur facilis praesentium vel quia!
    Quisquam animi fuga molestiae sequi distinctio quidem ullam laborum? Dolores consequuntur consectetur impedit totam debitis magnam nobis voluptas, tempore deleniti quas dolor fugit delectus, ipsam ex incidunt repellendus possimus deserunt.
  </p>
</ion-content>