page-position-history {
  .content-header {
    height: 120px;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }

  .content-sub-header {
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .image-header {
    color: #f18a21;
    font-size: 30px;
  }

  .text-title {
    font-size: 18px;
    background: -webkit-linear-gradient(#005696, #f18a21);
    -webkit-background-clip: text;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    padding-left: 10px;
  }

  .encabezado {
    position: absolute;
    top: 55%;
    left: 3%;
    color: black;
    font-size: 16px;
    font-weight: bold;
  }

  .scroll-content {
    margin-top: 120px !important;
    margin-bottom: 10% !important;
  }

  .disabledDelete {
    color: #e6e6e6;
  }
}
