/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    margin: 0;
    height: 100%;
    font-family:'Roboto','Open Sans', 'Helvetica Neue', sans-serif;
}

.snack-container .mat-dialog-container{
    background: black;
    padding: 0px !important;
}

.mat-tooltip {
    max-width: 600px !important;
}