.card-one {
    margin-top: 5%;
    margin-left: 14%;
    margin-right: 12%;
}

.dashboard {
    display: flex;
    padding-right: 27px;
}

.column-img {
    width: 50%;
}

.dashboard .column-img img {
    height: 300px;
    margin-left: 10%;
}

.column-legend {
    bottom: 0;
    display: table-cell;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 50%;
    margin-left: 10%;
}

.dashboard .column-legend img {
    height: 212px;
    width: 465px;
    margin-top: 10%;
}

.text-legend {
    display: table-cell;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 430px;
    opacity: 1;
    color: white;
    padding-left: 5%;
    padding-right: 7%;
    text-align: justify;
    margin-top: 13%;
    font-family: 'Roboto', sans-serif;
}

.text-legend h1 {
    font-size: 24px;
}

.text-legend p {
    font-size: 18px;
}