<mat-card class="card-one">
  <mat-card-content>
    <div class="dashboard">
      <div class="column-img">
        <img src="/assets/dch-total-slogan.svg" alt="DCH Total" />
      </div>
      <div class="column-legend">
        <img src="/assets/img/CuadroHome.png" />
        <div class="text-legend">
          <h1>Bienvenido</h1>
          <p>
            Nuestra convicci&oacute;n por el servicio y trato a las personas, garantizan en el grupo
            de persona que administramos, una buena relaci&oacute;n con nuestros clientes generando
            as&iacute; un buen clima laboral.
          </p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
