<div class="dashboard-wrapper">
  <div class="dashboard-card">
    <div class="dashboard-logo-col">
      <img src="/assets/dch-total-slogan.svg" alt="DCH Total" class="dashboard-logo" />
    </div>
    <div class="dashboard-welcome-col">
      <h1 class="dashboard-title">Bienvenido</h1>
      <p class="dashboard-text">
        Nuestra convicci&oacute;n por el servicio y trato a las personas, garantizan en el grupo de
        personas que administramos, una buena relaci&oacute;n con nuestros clientes generando
        as&iacute; un buen clima laboral.
      </p>
    </div>
  </div>
</div>
