<div class="tab-content">
  <form [formGroup]="form" (ngSubmit)="onSave()">
    <div class="form-grid">
      <mat-form-field appearance="outline">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="startDate" />
        <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Fecha de fin</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate" />
        <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Puesto</mat-label>
        <input matInput formControlName="position" />
        @if (form.controls.position.hasError('required') && form.controls.position.touched) {
          <mat-error>El puesto es obligatorio</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Area</mat-label>
        <input matInput formControlName="area" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Departamento</mat-label>
        <input matInput formControlName="department" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tipo de contrato</mat-label>
        <mat-select formControlName="contractType">
          @for (type of contractTypes; track type.value) {
            <mat-option [value]="type.value">{{ type.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Salario</mat-label>
        <input matInput formControlName="salary" type="number" />
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>

    <div class="form-actions">
      <button mat-flat-button color="primary" type="submit" [disabled]="saving()">
        @if (saving()) {
          <mat-spinner diameter="20"></mat-spinner>
        } @else {
          Guardar
        }
      </button>
    </div>
  </form>
</div>
