<div *ngIf="enabledNotification" class="containerMessage">
   <div>
     <p>
      ¿Estás seguro de {{valueNotification}} la solicitud {{typeFintechMessage}}?      
     </p>
     <p>*No se podrá cambiar el estatus nuevamente</p>
   </div>
   <div class="container">
      <button mat-raised-button color="primary" (click)="closeDialog()">No</button>
      <button mat-raised-button color="primary" (click)="updateStatusFintech()">Si</button>
   </div>
</div>
<div *ngIf="enabledComment" class="containerMessage">
    <mat-form-field class="example-full-width">
      <textarea matInput maxlength="100" placeholder="Motivo de Rechazo" [(ngModel)]="reasonRejection"></textarea>
    </mat-form-field>
    <div class="container">
      <button mat-raised-button color="primary" (click)="closeDialog()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="updateComment()">Aceptar</button>
    </div>
</div>
