.clients{
    border-style: none solid none none !important;
    border-right-width: 0.2em !important;
    border-right-color:#25C5C7 !important;    
		font-size: 90%;	
    height: 90%;
    margin-left: 5px;
}



.projectText{
    text-overflow: ellipsis;
    width: 129px;
    white-space: nowrap;
    overflow: hidden;
}

body {
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
  background: #ccc;
}

#title{
  color: rgb(11, 90, 163);  
}
#titleClients{
	font-size: 130%;
	color: #1BA8EC;
	font-weight: 900;  
}
