<div style="display: flex; flex-direction: column;" class="contenedor">
    <div class="filter-chip element">
            <mat-chip-list *ngIf="filters">
              <mat-chip *ngIf="proveedor" [selectable]="selectable" 
                       [removable]="removable" (removed)="remove('proveedor')">
                {{ proveedor }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <mat-chip *ngIf="startDate && endDate" [selectable]="selectable"
                       [removable]="removable" (removed)="remove('fechainiciodesde')">
                De  {{ startDate }} a {{ endDate }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <mat-chip *ngIf="nameAuthor" [selectable]="selectable"
                       [removable]="removable" (removed)="remove('autor')">
                {{ nameAuthor }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
    </div>

    <app-generic-table class="element" 
        [headers]="headers"
        [info-data]="infoData"
        [titles]="titles"
        [total-items]="countDiscount"
        (selected-item)="selectItem($event)"
        (go-next)="loadInfo($event)"
        (go-prev)="loadInfo($event)"
    ></app-generic-table>
</div>    