

<ion-content>

  <div class="content-header" style="background-image: url('assets/imgs/headers/detalle_pago.png');">
    <div class="content-sub-header" (click)="backDiscount()" >
      <ion-icon ios="ios-arrow-back" md="md-arrow-back" class="image-header" ></ion-icon>
      <div class="text-title" >Detalle de pagos</div>
    </div>  
    <div class="encabezado">Transparencia en tus <br> pagos </div>
  </div>

  <div style="height: 45%;">
    <ion-item>
      <ion-label stacked>Mes de pago</ion-label>
      <ion-datetime 
        displayFormat="MMMM YYYY" 
        pickerFormat="MMMM YYYY" 
        cancelText="CANCELAR"
        [max]="dateService.getFullYear()"
        [(ngModel)]="datePayment"
        doneText="ACEPTAR"></ion-datetime>
      <ion-icon ios="ios-calendar" md="md-calendar"  color="iconColor" item-right small></ion-icon>
    </ion-item>
    <div style="height: 100%; display: flex; flex-direction: column; padding: 0px 15%;">
      <button ion-button style="margin: 1.875rem; text-transform: capitalize;" (click)="searchPaymentMount()">Buscar</button>
      <ion-label style="text-align: center; color: #1469AF; font-size: 18px; margin: 1.5625rem; font-weight: bold;" *ngIf="datePayment.length > 0">Detalle de ingresos</ion-label>
      <!-- <ion-label>{{ infoPayment.businessName }}</ion-label> -->
      <ion-label>{{ infoPayment.nameProject }}</ion-label>
      <div style="display: flex; justify-content: space-around; width: 100%;" *ngIf="infoPayment.fixedIncome">
        <ion-label>Sueldo neto</ion-label>
        <ion-label style="text-align: right">${{ infoPayment.fixedIncome }}</ion-label>
      </div>
    </div>
  </div>

</ion-content>