page-detail-benefis {
    .aviso-privacidad{
        color:#1099D6;
        font-size: 14px;
    }

    .image-header{
        color:#1099D6;
        font-size:30px;
        margin: 5px;
    }
    .background {
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: cover;
    }
}
