page-detail-benefis {
  .aviso-privacidad {
    color: #f18a21;
    font-size: 14px;
  }

  .image-header {
    color: #f18a21;
    font-size: 30px;
    margin: 5px;
  }
  .background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
