<div class="content-admin-discount contenedor">
    <div class="content-forms element-uno">
        <div class="content-form-radios">
            <span class="title">Tipo*</span>
            <mat-radio-group [disabled]="discount && disableCheks" class="content-radios">
                <br>
                <mat-radio-button 
                    labelPosition="after"
                    value="B" 
                    color="primary" 
                    (change)="selectedBenefit($event)" 
                    [checked]="typeDiscount == 'B'" 
                    [disabled]="discount && disableCheks">
                        <label class="label-radiobutton"> Beneficio </label>
                    </mat-radio-button>
                <mat-radio-button 
                    labelPosition="after"
                    value="D" 
                    color="primary" 
                    (change)="selectedBenefit($event)" 
                    [checked]="typeDiscount == 'D'" 
                    [disabled]="discount && disableCheks">
                    <label class="label-radiobutton"> Descuento </label>
                </mat-radio-button>
            </mat-radio-group>
            <label class="title" *ngIf="costBenefitView || (typeDiscount == 'B')">Costo*</label>
            <mat-radio-group class="content-radios" id="radioCost" *ngIf="costBenefitView || (typeDiscount == 'B')" >
                <br>
                <mat-radio-button 
                    labelPosition="after"
                    value="Y" 
                    color="primary" 
                    (change)="selectedCost($event)" 
                    [checked]="cost" 
                    [disabled]="!formDiscount.enabled"> 
                        <label class="label-radiobutton">Sí</label>    
                    </mat-radio-button>
                <mat-radio-button 
                    labelPosition="after"
                    value="N" 
                    color="primary" 
                    (change)="selectedCost($event)" 
                    [checked]="!cost" 
                    [disabled]="!formDiscount.enabled">
                        <label class="label-radiobutton">No</label>
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="card-form-discount custom-input">
            <form class="form-discount" [formGroup]="formDiscount">
                <div class="input-button">
                <mat-form-field>
                    <mat-select placeholder="Categoría" required formControlName="category" (selectionChange)="loadSubcategories()">
                    <mat-option *ngFor="let cat of categories" [value]="cat.idCategory">
                        {{cat.category}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-icon-button 
                        class="btn-icon" 
                        (click)="addCategory()" 
                        [disabled]="!formDiscount.enabled"
                        *ngIf="disableBtnCategory">

                    <mat-icon>add</mat-icon>
                </button>
                </div>
                <div class="input-button">
                <mat-form-field>
                    <mat-select placeholder="Subcategoría" required formControlName="subCategory">
                    <mat-option *ngFor="let sub of subcategories" [value]="sub.idSubCategory">
                        {{sub.subcategory}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-icon-button class="btn-icon" 
                        (click)="addSubcategory()" 
                        class="btn-icon"
                        [disabled]="!formDiscount.enabled"
                        *ngIf="disableBtnSubcategory">
                    <mat-icon >add</mat-icon>
                </button>
                </div>
                <mat-form-field class="inputmargin">
                    <textarea matInput placeholder="Proveedor" required formControlName="supplier" maxlength="50"></textarea>
                    <mat-error *ngIf="formDiscount.get('supplier').value.trim() === ''">El campo es requerido</mat-error>
                    <mat-error *ngIf="formDiscount.get('supplier').value.trim() != '' && !formDiscount.get('supplier').valid ">Datos incorrectos</mat-error>
                </mat-form-field>
                <mat-form-field class="inputmargin">
                    <textarea matInput placeholder="Título" required formControlName="title" maxlength="50"></textarea>
                    <mat-error *ngIf="formDiscount.get('title').value.trim() === ''">El campo es requerido</mat-error>
                    <mat-error *ngIf="formDiscount.get('title').value.trim() != '' && !formDiscount.get('title').valid ">Datos incorrectos</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [min]="minDate" [matDatepicker]="startdate" placeholder="Fecha inicio" formControlName="startDate" required readonly>
                    <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                    <mat-datepicker #startdate></mat-datepicker>
                    <mat-error>El campo es requerido</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [min]="minDate" [matDatepicker]="enddate" placeholder="Fecha fín" formControlName="endDate" required readonly>
                    <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                    <mat-datepicker #enddate></mat-datepicker>
                    <mat-error>El campo es requerido</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="time" placeholder="Hora de publicación" matInput formControlName="publicationTime" required>
                    <mat-icon matSuffix class="icon" >access_time</mat-icon>
                    <mat-error>El campo es requerido</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="time" placeholder="Hora de notificación" matInput formControlName="notificationTime" required>
                    <mat-icon matSuffix class="icon" >access_time</mat-icon>
                    <mat-error>El campo es requerido</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput  placeholder="Detalle de notificación" formControlName="notificationDetail" maxlength="150" required></textarea>
                    <mat-error *ngIf="formDiscount.get('notificationDetail').value.trim() === ''">El campo es requerido</mat-error>
                    <mat-error *ngIf="formDiscount.get('notificationDetail').value.trim() != '' && !formDiscount.get('notificationDetail').valid ">Datos incorrectos</mat-error>
                </mat-form-field>
            
                <div   *ngIf="count >= 0">
                <mat-form-field class="inputmargin">
                    <mat-label>Imagen previa</mat-label>
                    <input matInput [value]="nameImages[0] || ''" readonly [disabled]="formDiscount.disabled" required>
                    <mat-icon matSuffix class="icon" (click)="showFileChosserImage()">insert_photo</mat-icon>
                    <input accept="image/*" #primaryImg type="file" style="display: none;" (change)="getImage($event.target.files[0],0)" />
                    <mat-error>El campo es requerido</mat-error>
                </mat-form-field>

            </div>
                <div class="add-image" *ngIf="count >=0">
                    <mat-form-field >
                            <mat-label>Imagen secundaria</mat-label>
                        <input matInput [value]="nameImages[1] || ''" readonly  [disabled]="formDiscount.disabled" required>
                        <mat-icon matSuffix class="icon" (click)="showFileChosserImageTwo()">insert_photo</mat-icon>
                        <input accept="image/*" #secondImg type="file" style="display: none;" (change)="getImage($event.target.files[0],1)" />
                        <mat-error>El campo es requerido</mat-error>
                    </mat-form-field>
                    <button class="btn-icon" *ngIf="showSaveUpdate" mat-icon-button (click)="addIputImage()" [disabled]="!formDiscount.enabled" matTooltip="Agregar imagen secundaria">
                        <mat-icon>add</mat-icon>
                    </button> 
                </div>
                <div *ngIf="count >2" class="add-image">
                <mat-form-field>
                    <input matInput placeholder="Imagen secundaria" [value]="nameImages[2] || ''" readonly [disabled]="formDiscount.disabled" >
                    <mat-icon matSuffix class="icon" (click)="showFileChosserImageThird()">insert_photo</mat-icon>
                    <input #thirdImg accept="image/*" type="file" style="display: none;" (change)="getImage($event.target.files[0],2)" />
                    <mat-error>El campo es requerido</mat-error>
                </mat-form-field>  
            </div>
            <div *ngIf="count >3" class="add-image">
                <mat-form-field >
                    <input matInput placeholder="Imagen secundaria" [value]="nameImages[3] || ''" readonly [disabled]="formDiscount.disabled" >
                    <mat-icon matSuffix class="icon" (click)="showFileChosserImageFour()">insert_photo</mat-icon>
                    <input #fourImg accept="image/*" type="file" style="display: none;" (change)="getImage($event.target.files[0],3)" />
                    <mat-error>El campo es requerido</mat-error>
                </mat-form-field>  
            </div>              
                    <mat-form-field class="inputmargin">
                    <textarea matInput placeholder="Vínculo de URL" formControlName="linkUrl" maxlength="250" required></textarea>
                    <mat-error *ngIf="!formDiscount.get('linkUrl').valid ">Formato válido https://pagina.com</mat-error>
                    
                </mat-form-field>
                <mat-form-field class="inputmargin">
                    <textarea matInput placeholder="Descripción previa" required formControlName="descriptionPreview" maxlength="50"></textarea>
                    <mat-error *ngIf="formDiscount.get('descriptionPreview').value.trim() === ''">El campo es requerido</mat-error>
                    <mat-error *ngIf="formDiscount.get('descriptionPreview').value.trim() != '' && !formDiscount.get('descriptionPreview').valid ">Datos incorrectos</mat-error>
                </mat-form-field>
                <mat-form-field class="inputmargin">
                    <textarea matInput placeholder="Descripción" required formControlName="description" maxlength="150"></textarea>
                    <mat-error *ngIf="formDiscount.get('description').value.trim() === ''">El campo es requerido</mat-error>
                    <mat-error *ngIf="formDiscount.get('description').value.trim() != '' && !formDiscount.get('description').valid ">Datos incorrectos</mat-error>
                </mat-form-field>
                <mat-form-field class="inputmargin">
                    <textarea matInput placeholder="Términos y Condiciones" required formControlName="termsConditions" maxlength="500"></textarea>
                    <mat-error *ngIf="formDiscount.get('termsConditions').value.trim() === ''">El campo es requerido</mat-error>
                    <mat-error *ngIf="formDiscount.get('termsConditions').value.trim() != '' && !formDiscount.get('termsConditions').valid ">Datos incorrectos</mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="discount">
                    <input matInput placeholder="Autor" formControlName="lastUserModifier" >
                </mat-form-field>
                
                <mat-form-field>
                <mat-label>Nivel*</mat-label>
                  <mat-select formControlName="level"  [(value)]="discountOption">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="discount">
                    <mat-select placeholder="Estatus" class="inputmargin" formControlName="status" > 
                        <mat-option *ngFor="let statu of status" [value]="statu.id">{{ statu.value }}</mat-option>
                    </mat-select>
                    </mat-form-field>

                    <mat-label class="label-fechas">*La fecha y hora ingresada son posteriores<br/> a la fecha y hora actual</mat-label>
                    <br/>


                <div class="controls-discount">   
                    <button mat-raised-button color="primary" (click)="cancelButton()">Cancelar</button>
                    <div *ngIf="showSaveUpdate">
                        <button *ngIf="showButtonSave"mat-raised-button color="primary" (click)="onSubmit()" [disabled]="enableButtonSave()">Guardar</button>                    
                        <button *ngIf="discount && !showButtonSave" mat-raised-button color="primary" (click)="enableForm()">Editar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <app-tree class="element"            
            [jsonTree]="jsonTreeDiscount"
            [disable]="disabledTree"
        ></app-tree>
</div>