.content-admin-discount {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.element {
  width: 70%;
  margin-right: 10%;
}
.element-uno {
  width: 30%;
  margin-left: 10%;
}

.content-forms {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.content-form-radios {
  width: 100%;
}

.title {
  font-size: 10px !important;
  color: gray;
}

.content-radios {
  display: flex;
  margin-bottom: 5px;
  width: 100%;
}

.label-radiobutton {
  font-size: 12px !important;
}

.label-fechas {
  font-size: 10px !important;
  color: black;
}
.mat-radio-button {
  margin-right: 10px !important;
}

.card-form-discount {
  display: flex;
}

.form-discount {
  display: flex;
  flex-direction: column;
}

.form-discount mat-form-field.mat-form-field {
  font-size: 12px;
  width: 280px;
}

.form-discount::ng-deep label.mat-form-field-label {
  color: #333333;
}

.form-discount::ng-deep .mat-form-field-ripple {
  background-color: #005696;
}

.form-discount::ng-deep .mat-form-field-underline {
  background-color: #005696;
}

.input-button {
  display: flex;
}

.input-button mat-form-field {
  width: 100%;
}

.disable-btn-subcategory {
  visibility: hidden;
}

.active-btn-subcategory {
  visibility: visible;
}

.btn-icon {
  color: #005696;
}

.controls-discount {
  display: flex;
  justify-content: center;
  margin-right: 35px;
  margin-bottom: 35px;
}

.controls-discount button {
  margin: 0px 10px;
}

.icon {
  color: gray;
  font-size: 12px;
  margin-right: 3px;
  font-weight: bold;
  cursor: pointer;
}

.add-image {
  display: flex;
  justify-content: space-around;
}
.control button {
  margin: 0px 10px;
}
